/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /* background-color: #ccc; */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Light green: #527158 */
/* Darker Green #2a423a */
/* ALmost Black Green: #202322  */
/* Grey Font color: #e2e3ed */
/* General Styles */

html {
  font-size: 16px;
}

body {
  font-size: 1em;
}

/* body i {
  font-family: 'FontAwesome' !important; */
/* } */

html,
body,
main {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}


ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  /* padding: 1em 0; */
}

p {
  font-size: 1em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}


.section-content {
  padding: 1.5em 0;
}

.map figure {
  width: 100%;
  height: 0;
  /* This sets the relationship between the height and width of the map - We want t maintain an aspect ratio without the fixed widths*/
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* ------------General Layout Styles--------- */

header,
footer,
section,
#download-form,
/* .features-item, */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 3px solid yellow; */
  width: 100%;
}

nav {
  width: 100%;
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

nav .section-content {
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  /* border:3px solid green; */
  width: 100%;
  margin: auto;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}

nav a {
  max-width: 500px;
  /* min-width: 350px; */
  text-align: center;
  height: 60px;
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  width: 200px;
  /* border:3px solid red; */
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section#hero-section {
  min-height: 900px;
  background: url('../img/jake-melara-30679-unsplash-compressed.jpg') center no-repeat #333;
  background-size: cover;
  justify-content: flex-start;
}

section#hero-section h1 {
  padding-top: 4em;
  text-align: left;
}


section#download-form {
  min-height: 300px;
}

section#features {
  min-height: 1400px;
  background: url('../img/rawpixel-800820-unsplash1.jpg') center no-repeat #333;
  background-size: cover;
}

#features .features-item {
  min-height: 200px;
  width: 100%;
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 0;
}

#features .features-item i {
  font-size: 4em;
}

#features .features-item p {
  font-size: 1.1em;
  width: 70%;
}

section#reviews {
  min-height: 600px;
  width: 100%;
}

section#map {
  max-height: 500px;
}

footer {
  min-height: 350px;
  width: 100%;
}

.footer-section {
  padding: 2em 0;
}

.section-content {
  width: 100%;
}

footer .section-content p {
  text-align: center;
  padding: 0;
  margin: auto;
  /* border: 3px solid red; */
  width: 100%;
}

footer .section-content {
  padding: 0;
}


/* --------Form Styles------- */

form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}


/* ---General Background color and images--- */

/* Light grey font*/
header,
nav,
footer {
  background-color: #202322;
  color: #e2e3ed;
  /* Light grey */
}

section#reviews,
section#contact-us {
  background-color: #2a423a;
  color: #e2e3ed;
}


/* Light green: #527158 */
section#download-form,
section#mission,
section#faq-questions {
  background-color: #527158;
  color: #e2e3ed;
}

section#features,
h1 {
  color: #e2e3ed;
}

/* ------------Social Icons Styles--------- */

i.social-icon {
  color: #e2e3ed;
  background-color: #527158;
  border-radius: 50%;
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 10px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* Style adjustments for tablet */
  html {
    font-size: 18px;
  }

  .section-content {
    width: 80%;
    max-width: 1200px;
    /* border: 3px solid orange; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  nav {
    width: 100%;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav a {
    max-width: 500px;
    /* max-width: auto; */
  }


  nav ul.section-content {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  nav ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

  nav img {
    width: 100%;
    /* max-width: 350px; */
  }


  nav ul a {
    width: auto;
  }

  section#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 3px solid purple; */
  }

  section#hero-section .section-content {
    padding: 0;
    margin-top: 0;
    text-align: left;
  }

  section#hero-section h1 {
    padding: 2.5em 0 0;
    margin: 0 auto;
    text-align: left;
  }


  #features .features-item {
    width: 80%;
    /* border: 3px solid orange; */
  }

  section#reviews {
    min-height: 700px;
  }

  section.map {
    max-height: 500px;
    overflow: hidden;
    width: 100%;
  }

  section.map figure.section-content {
    width: 100%;
  }

  .map figure {
    width: 100%;
    height: 0;
    /* This sets the relationship between the height and width of the map - We want t maintain an aspect ratio without the fixed widths*/
    padding-bottom: 80%;
    overflow: hidden;
    position: relative;
  }

  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  footer {
    min-height: 450px;
  }

}

@media only screen and (min-width: 1200px) {

  /* Style adjustments for desktop */
  html,
  body,
  main {
    font-size: 26px;
    width: 100vw;
  }

  header,
  footer,
  section,
  #download-form,
  /* .features-item, */
  .footer-section {
    /* border: 3px solid yellow; */
    width: 100%;
  }

  .section-content {
    width: 70%;
    max-width: 1200px;
    /* border: 3px solid orange; */
  }

  section#hero-section h1 {
    padding: 1.7em 0 0;

  }

  /* #features h1,
  #features .features-item {
    padding: 3.5em 0;
  } */

  section.map,
  figure.section-content,
  iframe {
    width: 100%;
    max-width: none;
  }

  i.social-icon {
    padding: 20px;
    font-size: 1.6em;
    margin: 0 20px;
  }


}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}